.disableArrows, .upArrow, .downArrow {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: #50476d;
  padding-left: 20px;
  padding-right: 50px;
  cursor: pointer;
}

.disableArrows {
  background-image: url(../../../../assets/images/down-arrow-disable.svg);
}

.upArrow {
  background-image: url(../../../../assets/images/up-arrow.svg);
}
  
.downArrow {
  background-image: url(../../../../assets/images/down-arrow.svg);
}